<p id="notice"><%= notice %></p>

<h1>Siblings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Civil stat</th>
      <th>Schooloremp</th>
      <th>Yrlvloroccp</th>
      <th>Pform</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @siblings.each do |sibling| %>
      <tr>
        <td><%= sibling.name %></td>
        <td><%= sibling.age %></td>
        <td><%= sibling.civil_stat %></td>
        <td><%= sibling.schooloremp %></td>
        <td><%= sibling.yrlvloroccp %></td>
        <td><%= sibling.pform_id %></td>
        <td><%= link_to 'Show', sibling %></td>
        <td><%= link_to 'Edit', edit_sibling_path(sibling) %></td>
        <td><%= link_to 'Destroy', sibling, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sibling', new_sibling_path %>
