<p id="notice"><%= notice %></p>

<h1>Contact Emergs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Relate</th>
      <th>Addr</th>
      <th>Contact no</th>
      <th>Email add</th>
      <th>Pform</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_emergs.each do |contact_emerg| %>
      <tr>
        <td><%= contact_emerg.name %></td>
        <td><%= contact_emerg.relate %></td>
        <td><%= contact_emerg.addr %></td>
        <td><%= contact_emerg.contact_no %></td>
        <td><%= contact_emerg.email_add %></td>
        <td><%= contact_emerg.pform_id %></td>
        <td><%= link_to 'Show', contact_emerg %></td>
        <td><%= link_to 'Edit', edit_contact_emerg_path(contact_emerg) %></td>
        <td><%= link_to 'Destroy', contact_emerg, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact Emerg', new_contact_emerg_path %>
