<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @pform.fname %>
</p>

<p>
  <strong>Mi:</strong>
  <%= @pform.mi %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @pform.lname %>
</p>

<p>
  <strong>Coursemajor:</strong>
  <%= @pform.coursemajor %>
</p>

<p>
  <strong>Student:</strong>
  <%= @pform.student_id %>
</p>

<p>
  <strong>Year level:</strong>
  <%= @pform.year_level %>
</p>

<p>
  <strong>Photoloc:</strong>
  <%= @pform.photoloc %>
</p>

<p>
  <strong>Perm address:</strong>
  <%= @pform.perm_address %>
</p>

<p>
  <strong>Pres address:</strong>
  <%= @pform.pres_address %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @pform.contact_no %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pform.email %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @pform.birth_date %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pform.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @pform.sex %>
</p>

<p>
  <strong>P of birth:</strong>
  <%= @pform.p_of_birth %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @pform.nationality %>
</p>

<p>
  <strong>Civil stat:</strong>
  <%= @pform.civil_stat %>
</p>

<p>
  <strong>Admis type:</strong>
  <%= @pform.admis_type %>
</p>

<p>
  <strong>Emp name:</strong>
  <%= @pform.emp_name %>
</p>

<p>
  <strong>Emp addr:</strong>
  <%= @pform.emp_addr %>
</p>

<p>
  <strong>Emp cont no:</strong>
  <%= @pform.emp_cont_no %>
</p>

<p>
  <strong>Yr w emp:</strong>
  <%= @pform.yr_w_emp %>
</p>

<p>
  <strong>Faveplace:</strong>
  <%= @pform.faveplace %>
</p>

<p>
  <strong>Curr work:</strong>
  <%= @pform.curr_work %>
</p>

<p>
  <strong>Posheld:</strong>
  <%= @pform.posHeld %>
</p>

<p>
  <strong>Reason4adnu:</strong>
  <%= @pform.reason4AdNU %>
</p>

<p>
  <strong>Whodecide:</strong>
  <%= @pform.whoDecide %>
</p>

<p>
  <strong>Hobbies:</strong>
  <%= @pform.hobbies %>
</p>

<p>
  <strong>Dateacccom:</strong>
  <%= @pform.dateAcccom %>
</p>

<%= link_to 'Edit', edit_pform_path(@pform) %> |
<%= link_to 'Back', pforms_path %>
