<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>User_type:</strong>
  <%= @user.user_type %>
</p>
<%= link_to 'Back to login page', helpmate_path %> 