<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sibling.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @sibling.age %>
</p>

<p>
  <strong>Civil stat:</strong>
  <%= @sibling.civil_stat %>
</p>

<p>
  <strong>Schooloremp:</strong>
  <%= @sibling.schooloremp %>
</p>

<p>
  <strong>Yrlvloroccp:</strong>
  <%= @sibling.yrlvloroccp %>
</p>

<p>
  <strong>Pform:</strong>
  <%= @sibling.pform_id %>
</p>

<%= link_to 'Edit', edit_sibling_path(@sibling) %> |
<%= link_to 'Back', siblings_path %>
