<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @parent_info.name %>
</p>

<p>
  <strong>Relate:</strong>
  <%= @parent_info.relate %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @parent_info.birth_date %>
</p>

<p>
  <strong>Age:</strong>
  <%= @parent_info.age %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @parent_info.religion %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @parent_info.nationality %>
</p>

<p>
  <strong>Present add:</strong>
  <%= @parent_info.present_add %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @parent_info.contact_no %>
</p>

<p>
  <strong>Educ attain:</strong>
  <%= @parent_info.educ_attain %>
</p>

<p>
  <strong>Occp:</strong>
  <%= @parent_info.occp %>
</p>

<p>
  <strong>Emp name:</strong>
  <%= @parent_info.emp_name %>
</p>

<p>
  <strong>Emp addr:</strong>
  <%= @parent_info.emp_addr %>
</p>

<p>
  <strong>Freqinteract:</strong>
  <%= @parent_info.freqInteract %>
</p>

<p>
  <strong>Civil stat:</strong>
  <%= @parent_info.civil_stat %>
</p>

<p>
  <strong>Pform:</strong>
  <%= @parent_info.pform_id %>
</p>

<%= link_to 'Edit', edit_parent_info_path(@parent_info) %> |
<%= link_to 'Back', parent_infos_path %>
