<p id="notice"><%= notice %></p>

<h1>Educ Infos</h1>

<table>
  <thead>
    <tr>
      <th>Level</th>
      <th>Yr grad</th>
      <th>School addr</th>
      <th>Recogawards</th>
      <th>Educ type</th>
      <th>Pform</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @educ_infos.each do |educ_info| %>
      <tr>
        <td><%= educ_info.level %></td>
        <td><%= educ_info.yr_grad %></td>
        <td><%= educ_info.school_addr %></td>
        <td><%= educ_info.recogawards %></td>
        <td><%= educ_info.educ_type %></td>
        <td><%= educ_info.pform_id %></td>
        <td><%= link_to 'Show', educ_info %></td>
        <td><%= link_to 'Edit', edit_educ_info_path(educ_info) %></td>
        <td><%= link_to 'Destroy', educ_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Educ Info', new_educ_info_path %>
