<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @educ_info.level %>
</p>

<p>
  <strong>Yr grad:</strong>
  <%= @educ_info.yr_grad %>
</p>

<p>
  <strong>School addr:</strong>
  <%= @educ_info.school_addr %>
</p>

<p>
  <strong>Recogawards:</strong>
  <%= @educ_info.recogawards %>
</p>

<p>
  <strong>Educ type:</strong>
  <%= @educ_info.educ_type %>
</p>

<p>
  <strong>Pform:</strong>
  <%= @educ_info.pform_id %>
</p>

<%= link_to 'Edit', edit_educ_info_path(@educ_info) %> |
<%= link_to 'Back', educ_infos_path %>
