
<h1> Hello, <%= @user.username %> </h1>
<p><a href = "/helpmate"> Log Out </a></p>
<h1>List of Concerns posted by <%= @user.username %> </h1>

<a href = <%= "/helpmate/student/#{@user.id}" %> > Go back to user page </a> 

<table>
  <thead>
    <tr>
      <th>Conv topic</th>
      <th>Post date</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
  <% @student = Student.where("user_id = ?", params[:hereid]).first %>
    <% @student.conversations.each do |conversation| %>
      <tr>
        <td><%= conversation.conv_topic %></td>
        <td><%= conversation.post_date %></td>
        <td><%= link_to 'Show Concern', helpmate_showconcern_path('hereid' => @user.id, 'stuid' => @student.id, 'convid' => conversation.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Concern', helpmate_newconcern_path('hereid' => @user.id) %>
