
<h1> Hello, <%= @user.username %></h1>
<p><a href = "/helpmate"> Log Out </a></p>
<h1> Personal Information Form </h1>
<p>
  <strong>First Name:</strong>
  <%= @pform.fname %>
</p>

<p>
  <strong>Middle Initial:</strong>
  <%= @pform.mi %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @pform.lname %>
</p>

<p>
  <strong>Course and Major:</strong>
  <%= @pform.coursemajor %>
</p>


<p>
  <strong>Year Level:</strong>
  <%= @pform.year_level %>
</p>

<p>
  <strong>Permanent Address:</strong>
  <%= @pform.perm_address %>
</p>

<p>
  <strong>Present Address:</strong>
  <%= @pform.pres_address %>
</p>

<p>
  <strong>Contact Number:</strong>
  <%= @pform.contact_no %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pform.email %>
</p>



<p>
  <strong>Birth Date:</strong>
  <%= @pform.birth_date %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pform.age %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @pform.sex %>
</p>

<p>
  <strong>Place of Birth:</strong>
  <%= @pform.p_of_birth %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @pform.nationality %>
</p>

<p>
  <strong>Civil Status:</strong>
  <%= @pform.civil_stat %>
</p>

<p>
  <strong>Admission Type:</strong>
  <%= @pform.admis_type %>
</p>

<p> NOTE: if employed </p>
<p>
  <strong>Employer's name:</strong>
  <%= @pform.emp_name %>
</p>

<p>
  <strong>Employer's Address:</strong>
  <%= @pform.emp_addr %>
</p>

<p>
  <strong>Employer's contact number:</strong>
  <%= @pform.emp_cont_no %>
</p>

<p>
  <strong>Years with employer:</strong>
  <%= @pform.yr_w_emp %>
</p>

<p>
  <strong>Favorite Place:</strong>
  <%= @pform.faveplace %>
</p>

<h1> Parent Information </h1>
<% @pform.parent_infos.each do |p| %>
<p>
  <strong>Name:</strong>
  <%= p.name %>
</p>

<p>
  <strong>Relate:</strong>
  <%= p.relate %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= p.birth_date %>
</p>

<p>
  <strong>Age:</strong>
  <%= p.age %>
</p>

<p>
  <strong>Religion:</strong>
  <%= p.religion %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= p.nationality %>
</p>

<p>
  <strong>Present add:</strong>
  <%= p.present_add %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= p.contact_no %>
</p>

<p>
  <strong>Educ attain:</strong>
  <%= p.educ_attain %>
</p>

<p>
  <strong>Occp:</strong>
  <%= p.occp %>
</p>

<p>
  <strong>Emp name:</strong>
  <%= p.emp_name %>
</p>

<p>
  <strong>Emp addr:</strong>
  <%= p.emp_addr %>
</p>

<p>
  <strong>Freqinteract:</strong>
  <%= p.freqInteract %>
</p>

<p>
  <strong>Civil stat:</strong>
  <%= p.civil_stat %>
</p>

<% end %>
<h1> Educational Background </h1>

<p>
  <strong>Current Work:</strong>
  <%= @pform.curr_work %>
</p>

<p>
  <strong>Position Held:</strong>
  <%= @pform.posHeld %>
</p>

<p>
  <strong>Reason for choosing AdNU:</strong>
  <%= @pform.reason4AdNU %>
</p>

<p>
  <strong>Who decided?:</strong>
  <%= @pform.whoDecide %>
</p>

<p>
  <strong>Hobbies:</strong>
  <%= @pform.hobbies %>
</p>

<p>
  <strong>Date Accomplished:</strong>
  <%= @pform.dateAcccom %>
</p>
<a href = <%= "/helpmate/student/#{@user.id}" %> > Go back to user page </a> 