<%= form_for(@concern, :url => helpmate_newconcern_path, :html => {:method => "post"}) do |f| %>

  <div class="field">
    <%= f.label "Topic of Concern followed by message" %>
    <%= text_field_tag 'concern_topic'  %>
  </div>

  <div class="Posted">
    <%= f.label :post_date %>
    <%= date_field_tag 'datepost' %>
  </div>

  <%= hidden_field_tag 'hereid', @user.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
