
<h1> Hello, <%= @user.username %> </h1>
<p><a href = "/helpmate"> Log Out </a></p>
<% @studentrec = Student.where("user_id = ?", @user.id).first %>
<% if (!@studentrec.pform.present?) %>
<p><%= link_to "Create Personal Information Form", helpmate_newrec_path('hereid' => @user.id) %></p>
<% else %>
<p><%= link_to "Edit Personal Information Form", helpmate_edit_path('hereid' => @user.id) %></p>
<% end %>
<% if(@studentrec.pform.present?) %>
<p><%= link_to "View Personal Information Form", helpmate_getpform_path('hereid' => @user.id) %></p>
<% end %>
<p><%= link_to "View List of Concerns", helpmate_concern_path('hereid' => @user.id)%></p>
<p><%= link_to "Post a concern", helpmate_newconcern_path('hereid' => @user.id)%></p>
